@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg-color: #191f36;
  --snd-bg-color: #262b40;
  --text-color: #fff;
  --main-color: #59b2f4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 2rem 3%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.animated-header {
  font-size: 3.2rem;
  color: var(--text-color);
  letter-spacing: 0.3rem;
}

.movie-header-info {
  display: flex;
}

.movie-header-info i {
  font-size: 3rem;
  color: var(--text-color);
}
.container {
  display: grid;
}

.search {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: var(--main-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  padding: 10px;
  overflow: hidden;
}

.search__input {
  border: none;
  outline: none;
  width: calc(100% - 44px);
  height: 100%;
  border-radius: 2rem;
  padding-left: 14px;
  font-weight: 500;
  font-family: "Poppins";
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.3s;
}

.search__button {
  width: 36px;
  height: 36px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__icon,
.search__close {
  color: var(--snd-bg-color);
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__close {
  opacity: 0;
}

.show-search {
  width: 250px;
}

.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__button {
  transform: rotate(90deg);
}

.show-search .search__icon {
  opacity: 0;
}

.show-search .search__close {
  opacity: 1;
}

.filter-result {
  text-align: center;
  color: var(--text-color);
  font-size: 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 0.8rem;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: 0.5s ease;
}

.sort-container {
  color: var(--text-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins";
  padding: 2rem 3%;
}

.sort-container label {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.sort-container select {
  padding: 0.5rem 1rem;
  font-size: 1rem;

  padding: 1em;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.sort-container select option {
  padding: 0.5rem;
  font-size: 1rem;
}

#main {
  flex-grow: 1;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: var(--snd-bg-color);
  border-radius: 2rem;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 1rem var(--bg-color);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--main-color);
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--snd-bg-color);
  margin: 10% auto;
  font-size: 1.2rem;
  padding: 20px;
  border: 1px solid var(--main-color);
  width: 330px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.close {
  color: var(--main-color);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--snd-bg-color);
  color: var(--text-color);
  padding: 1rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.movie-card.active .movie-info {
  opacity: 0.8;
  transform: translateY(0);
}

.movie-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.movie-description {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.movie-details {
  font-size: 13px;
  color: var(--text-color);
  margin: 0 0 5px;
}

.movie-details strong {
  color: var(--text-color);
}

.movie-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff9800;
  margin-top: 10px;
}
.star-rating {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem;
  margin: 0.8rem;
}
.star {
  font-size: 2rem;
  background-color: unset;
  border: none;
  color: var(--main-color);
  cursor: pointer;
  transition: transform 0.3s;
}
.star-rating i {
  font-size: 2rem;
  color: var(--main-color);
  padding: 0.6rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.input-comment {
  width: 60%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  background: var(--snd-bg-color);
  margin: 0.4rem 0.2rem;
  border: 1px solid var(--text-color);
}

.comment {
  padding: 3px;
  margin: 2px 1px;
  border-bottom: 1px solid var(--main-color);
  font-size: 1rem;
}
.comment-heading {
  font-size: 1rem;
  margin: 2px;
  padding: 3px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--snd-bg-color);
  align-items: center;
  padding: 2rem 3%;
  font-size: 1.2rem;
}

#timer-display {
  padding-top: 0.6rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.display-timer input {
  border: none;
  outline: none;
  height: 100%;
  font-weight: 300;
  font-family: "Poppins";
  border-bottom: 1px solid var(--main-color);
  background-color: var(--snd-bg-color);
  color: var(--text-color);
  margin-right: 0.6rem;
}

.clock span {
  display: inline-block;
  width: 30px;
  position: relative;
  font-size: 1.2rem;
}

.clock span::after {
  position: absolute;
  bottom: -13px;
  left: 4%;
  font-size: 0.8rem;
}

#hours::after {
  content: "HOURS";
}
#minutes::after {
  content: "MINS";
}
#seconds::after {
  content: "SECS";
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 610px) {
  .show-search {
    width: 100%;
  }
  .footer {
    padding: 2rem 1%;
  }
}
