* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-color: #fff;
  }
  .line-break {
    width: 100%;
    height: 1px;
    top: 73px;
    left: 307px;
    gap: 0px;
    opacity: 0px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + .card {
    border: 4px solid #fe4e9b;
  }
  
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  header {
    width: 100%;
    border-bottom: 2px solid #666;
    background: linear-gradient(50.74deg, #fd7b46 15.15%, #fe4e9b 98.48%);
    color: #ffff;
  }
  
  .container {
    display: flex;
    padding: 8px;
    flex-direction: column;
    width: 100%;
  }
  
  .items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .payment-form {
    max-width: 100%;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  
  .payment-title {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .common {
    margin: 30px 3px;
  }
  
  .card-info label {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;
    color: #939393;
  }
  
  .card-info input {
    background: #f3f1f2;
    padding: 10px;
    font-family: Montserrat;
    border-radius: 4px;
    border: 1px solid #939393;
    width: 100%;
  }
  
  /*.payment-card{
      display: flex;
      padding: 10px;
      justify-content: space-between;
      align-items: center;
  }*/
  
  .payment-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 5px 5px 20px 0px #0000004d;
    text-align: center;
    height: 100%;
    cursor: pointer;
  }
  
  .card img {
    width: 80px;
    height: 22px;
    display: block;
    margin: 0 auto;
  }
  .box {
    max-width: 900px;
    margin: 0 auto;
  }
  /*.payment-card-1{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }*/
  
  .payment-card-1 {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 5px;
  }
  
  /*.card-info input{
      border: 1px solid #939393;
      border-radius: 2px;
      display: block;
      width: 50%;
  }*/
  
  .card-info {
    display: flex;
    flex-direction: column;
  
    margin: 3px 5px;
  }
  /*.number-flex{
      flex-grow: 2;
      
  }
  .date-flex{
  flex-grow: 1;
  }
  .cvv-flex{
  flex-grow: 1;
  }*/
  
  .fa-question-circle {
    width: 24px;
    height: 24px;
    color: #555555;
    margin-left: -30px;
  }
  .btn-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #buy-btn {
    background: linear-gradient(92.74deg, #fd7b46 1.15%, #fe4e9b 98.48%);
    color: #fff;
    border: 2px #fff solid;
    font-weight: 400;
    font-family: Montserrat;
    border-radius: 10px;
    font-size: 24px;
    line-height: 29.26px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    width: 200px;
    margin-bottom: 3px;
  }
  .btn-flex p {
    background-image: linear-gradient(92.74deg, #fd7b46 1.15%, #fe4e9b 98.48%);
    background-clip: text;
    font-weight: 400;
    font-family: arial;
    font-size: 18px;
  }
  
  @media (max-width: 600px) {
    .payment-card-1 {
      grid-template-columns: 1fr 1fr;
    }
    .number-flex {
      grid-column: span 2;
    }
    .date-flex,
    .cvv-flex {
      grid-column: span 1;
    }
  }
  